/*general style*/

* {
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-family: Microsoft Yahei, sans-serif;
}


/*style of list*/

ul {
    list-style: none;
}

#bottom-positioner {
    position: absolute;
    left: 44%;
    top: 65%;
}


/*style of the information bar*/

#info-bar {
    position: absolute;
    top: 23px;
    left: 60px;
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 50%;
    background-color: #7E7E7E;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s linear 0.5s;
}

#button:hover #info-bar {
    top: -97px;
    left: 10px;
    width: 130px;
    height: 130px;
    opacity: 1;
}

.user img {
    margin-left: 40px;
    margin-top: 5px;
}

.user span {
    margin-top: -5px;
    margin-left: 10px;
    font-size: 13pt;
    color: white;
}

.comment img {
    width: 27px;
    height: 25px;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 5px;
}

.comment span {
    margin-left: 15px;
    font-size: 23pt;
    color: white;
}

.mine {
    display: inline;
    color: #33CC93;
    font-size: 14pt;
}

.posted img {
    margin-left: 15px;
}

.mine span {
    margin-left: 7px;
}

.like img {
    margin-left: 6px;
}


/*style of the control ring*/

#control-ring li {
    position: absolute;
    top: 55px;
    left: 60px;
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 50%;
    background-position: 50% 50%;
    background-color: #7E7E7E;
    background-repeat: no-repeat;
    background-size: 17px;
    opacity: 0;
    transition: all 0.5s ease-in-out 0.5s;
}

#button:hover #control-ring li {
    opacity: 1;
}

.mask {
    background-image: url("../assets/images/nomask.png");
}

#button:hover .mask {
    top: 17px;
    left: -2px;
}

.history {
    background-image: url("../assets/images/history.png");
}

#button:hover .history {
    top: 55px;
    left: -15px;
}

.message {
    background-image: url("../assets/images/message.png");
}

#button:hover .message {
    top: 93px;
    left: -2px;
}

.unread {
    position: absolute;
    top: -5px;
    left: 17px;
    width: 17px;
    height: 17px;
    border-radius: 50% 50% 50% 50%;
    background-color: red;
    font-size: 8pt;
    color: white;
    text-align: center;
}

.setting {
    background-image: url("../assets/images/setting.png");
}

#button:hover .setting {
    top: 117px;
    left: 33px;
}

.sign {
    background-image: url("../assets/images/signin.png");
}

#button:hover .sign {
    top: 115px;
    left: 75px;
}


/*style of the apb*/

.apb {
    position: absolute;
    top: 60px;
    left: 60px;
    height: 30px;
    width: 30px;
    border-radius: 50% 50% 50% 50%;
}

#button:hover .apb {
    height: 150px;
    width: 150px;
}

.icon {
    position: absolute;
    top: -3px;
    left: -2px;
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #9BA0D7;
    background-image: url("../assets/images/atplus_white.png");
    background-size: 25px;
    transition-delay: 1s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#button:hover .icon {
    top: -14px;
    left: -11px;
    width: 50px;
    height: 50px;
    background-color: #323BA4;
    background-image: url("../assets/images/atplus_green.png");
    background-size: 37px;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}